@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--background-color: #262626;
	--navbar-background-color: #454648;
	--navbar-background-color-dropdown: #454648;
	--navbar-background-color-tab-chosen: #6f6f6f;
	--navbar-background-color-dropdown-chosen: #6f6f6f;
}

body {
	background-color: var(--background-color);
	margin: 0;
	width: 4em;
	height: 100vh;
	
	font-family: 'Balsamiq Sans', 'Linux Libertine', 'Georgia', 'Times', sans-serif;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
	text-indent: 2em;
}

.content {
	position: absolute;
	top: 0.5em;
	padding-left: 4.5em;
	width: calc(100% - 5em);
	
	// make scrollable and hide scrollbar
	overflow: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	
	// support for old browsers
	::-webkit-scrollbar {
		display: none;
	}
}

.tabs {
	position: fixed;
	background-color: var(--navbar-background-color);
	left: 0;
	top: 0;

	width: 4em;
	height: 100%;
	z-index: 2;

	// make scrollable and hide scrollbar
	overflow: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;

	ul {
		position: relative;
		width: 3em;
		height: 3em;
		padding: 0.5em;
		margin: 0;
	}
	ul.chosen {
		background-color: var(--navbar-background-color-tab-chosen);
	}
	ul:hover {
		transition: ease-out 0.1s;
		background-color: var(--navbar-background-color-tab-chosen);
	}
	
	.dropdown {
		position: fixed;
		background-color: var(--navbar-background-dropdown);
		z-index: 3;
		margin: 0;
		
		display: none;
		flex-direction: column;
		
		left: 4em;
		width: 10em;
		min-height: 3em;
		
		.dropdown-option {
			vertical-align: middle;
			line-height: 3em;
			
			.dropdown-icon {
				position: absolute;
				width: 2em;
				height: 2em;
				padding: 0.5em;
			}
			.dropdown-icon > * {
				position: absolute;
				top: 50%;
				left: 50%;

				width: 2em;
				height: 2em;
				object-fit: contain;
				transform: translate(-50%, -50%);
			}
			.dropdown-title {
				position: relative;
				padding-left: 3em;
			}
		}
		.dropdown-option:hover {
			transition: ease-out 0.1s;
			background-color: var(--navbar-background-dropdown-chosen);
		}
	}
	ul:hover .dropdown {
		display: flex;
	}

	ul > * {
		user-drag: none;
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	ul > img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2.75em;
		height: 2.75em;

		object-fit: contain;
		transform: translate(-50%, -50%);
	}

	// support for old browsers
	::-webkit-scrollbar {
		display: none;
	}
}

.calculator-zodiac-stats {
	float: right;

	th {
		text-align: left;
		vertical-align: top;
	}
}
