@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--background-color: #262626;
	--navbar-background-color: #454648;
	--navbar-background-color-dropdown: #454648;
	--navbar-background-color-tab-chosen: #6f6f6f;
	--navbar-background-color-dropdown-chosen: #6f6f6f;
	--notification-background-color: #3f3f8ff0;
}

body {
	background-color: var(--background-color);
	margin: 0;
	width: 4em;
	height: 100vh;
	
	font-family: 'Balsamiq Sans', 'Linux Libertine', 'Georgia', 'Times', sans-serif;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
	text-indent: 2em;
}

.content {
	position: absolute;
	top: 0.5em;
	padding-left: 4.5em;
	width: calc(100% - 5em);
	
	/* make scrollable and hide scrollbar */
	overflow: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	
	/* support for old browsers */
	::-webkit-scrollbar {
		display: none;
	}
}

.tabs {
	position: fixed;
	background-color: var(--navbar-background-color);
	left: 0;
	top: 0;

	width: 4em;
	height: 100%;
	z-index: 2;

	overflow: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;

	ul {
		position: relative;
		width: 3em;
		height: 3em;
		padding: 0.5em;
		margin: 0;
	}
	ul.chosen {
		background-color: var(--navbar-background-color-tab-chosen);
	}
	ul:hover {
		transition: ease-out 0.1s;
		background-color: var(--navbar-background-color-tab-chosen);
	}
	
	.dropdown {
		position: fixed;
		background-color: var(--navbar-background-color-dropdown);
		z-index: 3;
		margin: 0;
		
		display: none;
		flex-direction: column;
		
		left: 4em;
		width: 10em;
		min-height: 3em;
		
		.dropdown-option {
			vertical-align: middle;
			line-height: 3em;
			
			.dropdown-icon {
				position: absolute;
				width: 2em;
				height: 2em;
				padding: 0.5em;
			}
			.dropdown-icon > * {
				position: absolute;
				top: 50%;
				left: 50%;

				width: 2em;
				height: 2em;
				object-fit: contain;
				transform: translate(-50%, -50%);
			}
			.dropdown-title {
				position: relative;
				padding-left: 3em;
			}
		}
		.dropdown-option:hover {
			transition: ease-out 0.1s;
			background-color: var(--navbar-background-color-dropdown-chosen);
		}
	}
	ul:hover .dropdown {
		display: flex;
	}

	ul > * {
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	ul > img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2.75em;
		height: 2.75em;

		object-fit: contain;
		transform: translate(-50%, -50%);
	}

	/* support for old browsers */
	::-webkit-scrollbar {
		display: none;
	}
}

.notifications {
	position: fixed;
	display: flex;
	flex-direction: column;
	right: 1em;
	bottom: 1em;
	z-index: 5;
}
.notification {
	position: relative;
	display: table;
	width: 15em; max-width: 15em;
	height: 5em;
	background-color: var(--notification-background-color);
	border-radius: 2em;
	margin-top: 1em;

	* {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		font-size: 120%;
		
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
}

.copy-latex-formula-buttons > img {
	width: 1.2em;
	height: 1.2em;
	padding-top: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.1em;
}

.calculator-zodiac-stats {
	float: right;

	th {
		text-align: left;
		vertical-align: top;
	}
}

.filter-none {
	filter: unset;
}
.filter-white-2-prestige-color {
	filter: brightness(0) saturate(100%) invert(87%) sepia(9%) saturate(1393%) hue-rotate(62deg) brightness(96%) contrast(86%);
}
.filter-white-2-promote-color {
	filter: brightness(0) saturate(100%) invert(68%) sepia(76%) saturate(488%) hue-rotate(54deg) brightness(93%) contrast(95%);
}
.filter-white-2-infinity-color {
	filter: brightness(0) saturate(100%) invert(51%) sepia(13%) saturate(3848%) hue-rotate(249deg) brightness(93%) contrast(89%);
}
.filter-white-2-generator-flash-color {
	filter: brightness(0) saturate(100%) invert(58%) sepia(82%) saturate(464%) hue-rotate(177deg) brightness(100%) contrast(102%);
}
.filter-white-2-eternity-color {
	filter: brightness(0) saturate(100%) invert(69%) sepia(24%) saturate(5004%) hue-rotate(186deg) brightness(97%) contrast(110%);
}
.filter-white-2-dilation-color {
	filter: brightness(0) saturate(100%) invert(46%) sepia(24%) saturate(1696%) hue-rotate(215deg) brightness(84%) contrast(92%);
}
.filter-white-2-unity-color {
	filter: brightness(0) saturate(100%) invert(84%) sepia(19%) saturate(7251%) hue-rotate(345deg) brightness(101%) contrast(101%);
}
.filter-white-2-attacks-color {
	filter: brightness(0) saturate(100%) invert(41%) sepia(15%) saturate(2426%) hue-rotate(312deg) brightness(112%) contrast(91%);
}
.filter-white-2-attacks-prestige-color {
	filter: brightness(0) saturate(100%) invert(22%) sepia(65%) saturate(1221%) hue-rotate(332deg) brightness(92%) contrast(86%);
}
.filter-white-2-achievements-color {
	filter: brightness(0) saturate(100%) invert(80%) sepia(9%) saturate(3422%) hue-rotate(55deg) brightness(121%) contrast(69%);
}
.filter-white-2-time-flux-color {
	filter: brightness(0) saturate(100%) invert(100%) sepia(52%) saturate(1989%) hue-rotate(356deg) brightness(93%) contrast(78%);
}
.filter-white-2-options-color {
	filter: brightness(0) saturate(100%) invert(58%) sepia(8%) saturate(1380%) hue-rotate(201deg) brightness(86%) contrast(91%);
}